<div class="form-group row required">
    <label class="col-md-3 col-form-label" for="XXXFieldNameLowerXXX">
        {{ "XXXFieldNameXXX" | localize }}
    </label>
    <div class="col-md-9">
        <input
            type="text"
            class="form-control"
            name="XXXFieldNameLowerXXX"
            id="XXXFieldNameLowerXXX"
            required
            minlength="2"
            maxlength="XXXFieldMaxLenghtXXX"
            [(ngModel)]="XXXEntityLowerSingularXXX.XXXFieldNameLowerXXX"
            #XXXFieldNameLowerXXXModel="ngModel"
            #XXXFieldNameLowerXXXEl
        />
        <abp-validation-summary
                [control]="XXXFieldNameLowerXXXModel"
                [controlEl]="XXXFieldNameLowerXXXEl"
        ></abp-validation-summary>
    </div>
</div>
